*.iml
.gradle
.gradle-local/
*.hprof
/local.properties
.idea
.DS_Store
build

/captures
.externalNativeBuild
.cxx
local.properties

.kotlin

.quickjs_cache/
jniLibs/

# Keystore and secrets
keystore/
*.jks
*.keystore
gradle.properties
